BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
TabWidth: 2
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Left
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 4
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignOperands: true
